{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order placed</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/order_placed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <script src='{% static 'js/header.js' %}' defer></script>
</head>
<body>
    {% include 'header.html' %}

    <div id="main">
        <div id="sub_main">
            <img src="{% static 'images/check.png' %}" alt="Successful">
            <h3>Successful</h3>
            <p>Your Order Placed Successfully.</p>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>